{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="page-form login">

    <div class="container">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <h2>Hello!</h2>

        <p>Log in and enjoy my website!</p>

        <form action="{{ path("app_login") }}" method="post">

            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

            <input type="submit" class="button" value="Login" /><br>

        </form>


        <p> More options </p>
        <a href="{{ path('app_register') }}">Registration page</a> <a href="{{ path('home') }}">Main page</a>
    </div>
</div>
{% endblock %}
