{% extends 'admin/admin.html.twig' %}


{% block body %}

    {% block leftsidebar %}

        {{ parent() }}

    {% endblock %}

    {% block rightpart %}

        <div class="right-part">
            <ul>
                {% for user in users %}

                    <li><span>{{ user.email }}</span>
                        <span>{{ user.firstName }}</span>
                        <span>{{ user.lastName }}</span>
                        <a href="{{ path('delete', {'id': user.id }) }}"> delete </a>
                    </li>

                {% endfor %}
            </ul>


        </div>

    {% endblock %}


{% endblock %}