{% extends 'author.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    {% block nav %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        <div class="author-sidebar">

            <img src="/assets/img/avatars/{{ article.author.avatar }}"/>
            <ul>
                <li>{{ article.author.firstName }}</li>
                <li>{{ article.author.lastName }}</li>
                <li>{{ article.author.email }}</li>
            </ul>

        </div>
    {% endblock %}

    <div class="article-block">
        <div class="return-button">
            <a href="{{ path('view-author', {'id': article.author.id }) }}"> Move back</a>
        </div>
        <div class="text-article">

            <h2 class="title"> {{ article.title }} </h2>

            <h4 class="author"> Article written by
                    {{ article.author.firstName}} {{ article.author.lastName}}
            </h4>

            {% for tag in article.tags %}

                <a href="{{ path('articles_order_tag', {'id': tag.id }) }}" class="tags">{{ tag.text }}</a>

            {% endfor %}

            <div class="image">
                <img src="/assets/img/{{ article.image }}"/>
            </div>

            <p> {{ article.longText }} </p>

            <a class="like" href="{{ path('like', {'id': article.id }) }}">
                <img src="/assets/img/system/like-icon.png"/> {{ likes }} </a>

            <a class="dislike" href="{{ path('dislike', {'id': article.id }) }}">
                <img src="/assets/img/system/dislike-icon.png"/> {{ dislikes }} </a>
        </div>

        <div class="comments">

            <div class="comment-form">
                <h3> Leave your comment </h3>

                {{ form_start(form) }}

                {{ form_row(form.text) }}
                <button class="btn btn-lg btn-primary buttn" type="submit">Save</button>

                {{ form_end(form) }}

            </div>

            <div class="resent-comments">

                <ul>
                    {% for comment in comments %}

                        <li>
                            <span class="comment-avatar">
                                <img src="/assets/img/avatars/{{ comment.author.avatar }}"/>
                            </span>
                            <span class="name">
                                {{ comment.author.firstName }} {{ comment.author.lastName }}
                            </span>
                            <span class="text">{{ comment.text }}</span>
                        </li>

                    {% endfor %}
                </ul>

            </div>

        </div>
    </div>

{% endblock %}