<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>

    {% block stylesheets %}

        <link href="/assets/css/style.css" rel="stylesheet" />

    {% endblock %}



</head>
{% block body %}

    <div class="container">

        <div class="nav">
            <p> Hello, {{ user }}</p>
            <a href="{{ path('app_logout') }}">Logout </a>
        </div>

            {% for article in articles %}

                <div class="text-article">

                    <h2 class="title"> {{ article.title }} </h2>

                    <h4 class="author"> Article written by {{ article.author }}</h4>

                    <p> {{ article.shortText }} </p>

                    <a href="{{ path('more', {'id': article.id }) }}"> show more </a>
                </div>

            {% endfor %}


    </div>

{% endblock %}

</html>


