{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}


{% block body %}

    {% block leftsidebar %}

        <div class="left-sidebar">
            <ul>
                <li><a href="{{ path('home') }}"> homepage </a></li>
                <li><a href="{{ path('update_user_info') }}"> change profile info </a></li>
            </ul>
        </div>

    {% endblock %}



    {% block rightpart %}

        <div class="right-part user-right-part">

            <div class="message">
                {{ message }}
            </div>

            <div class="avatar">
                <img src="/assets/img/avatars/{{ user.avatar }}"/>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn-save" value="Save" />
                {{ form_end(form) }}

            </div>

            <div class="info">
                <div>{{ user.firstName }}</div>
                <div>{{ user.lastName }}</div>
                <div>{{ user.email }}</div>
            </div>

        </div>

    {% endblock %}

{% endblock %}